{% extends 'portfolioApp/base.html' %}
{% load static %}

{% block header %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'portfolioApp/css/aboutpage-styles.css' %}">
    <link rel="stylesheet" href="{% static 'portfolioApp/css/overlay-menu-styles.css' %}">
{% endblock header %}

{% block title %} About me {% endblock title %}

{% block body %}
     <div class="head-text">
            <h1 class="large-text">About me</h1>
            <h4 class="accent-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Dignissim suspendisse in est ante in nibh mauris cursus
                mattis. Adipiscing bibendum est ultricies integer quis auctor. Diam quam nulla porttitor massa id
                neque aliquam vestibulum. Consequat interdum varius sit amet mattis vulputate enim nulla aliquet.
                Rhoncus mattis rhoncus urna neque viverra justo nec. Purus non enim praesent elementum facilisis leo
                vel fringilla est. Pharetra convallis posuere morbi leo. Non tellus orci ac auctor augue mauris.
                Sit amet commodo nulla facilisi nullam vehicula ipsum. Maecenas pharetra convallis posuere morbi
                leo urna molestie at elementum. Justo nec ultrices dui sapien eget mi proin. Quis imperdiet massa
                tincidunt nunc pulvinar sapien. Eget egestas purus viverra accumsan in. Adipiscing diam donec
                adipiscing tristique. Ultricies mi quis hendrerit dolor magna. <br><br>Ultrices vitae auctor eu augue
                ut.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Dignissim suspendisse in est ante in nibh mauris cursus
                mattis. Adipiscing bibendum est ultricies integer quis auctor. Diam quam nulla porttitor massa id
                neque aliquam vestibulum. Consequat interdum varius sit amet mattis vulputate enim nulla aliquet.
                Rhoncus mattis rhoncus urna neque viverra justo nec. Purus non enim praesent elementum facilisis leo
                vel fringilla est. Pharetra convallis posuere morbi leo. Non tellus orci ac auctor augue mauris.
                Sit amet commodo nulla facilisi nullam vehicula ipsum. Maecenas pharetra convallis posuere morbi
                leo urna molestie at elementum. Justo nec ultrices dui sapien eget mi proin. Quis imperdiet massa
                tincidunt nunc pulvinar sapien. Eget egestas purus viverra accumsan in. Adipiscing diam donec
                adipiscing tristique. Ultricies mi quis hendrerit dolor magna. Ultrices vitae auctor eu augue ut.</h4>
    </div>
{% endblock body %}

{% block optionalRightMenu %}
       <label>
        <input type='checkbox'>
            <span class='menu'> <span class='hamburger'></span> </span>
            <ul>
                <li class="work-experience"> <a href='#'><img src="{% static 'portfolioApp/images/icon-buttons/work.png' %}"> </a> </li>
                <li class="qualification"> <a href='#'><img src="{% static 'portfolioApp/images/icon-buttons/qualification-and-achievement.png' %}"></a> </li>
            </ul>
    </label>
{% endblock optionalRightMenu %}