@font-face {
    font-family: "Segoe UI";
}

.parentContainer {
    display: grid;
    grid-template-areas:
        'menu main main main main main'
        'menu main main main main main'
        'menu main main main main main';
    height: 100%;
}

.column-3.optional-right-menu {
    grid-area: main;
}


div.column-2.main-content {
    margin-top: 5rem;
    text-align: left;
    font-size: 1.3rem;
    font-family: "Segoe UI";
    word-break: break-all;
    padding-left: 5rem;
    padding-right: 5rem;
    overflow-y: auto;


}

div.head-text {
    margin: auto;
    max-width: 50rem;

}

.head-text > .large-text {
    margin-bottom: 0;
    padding-bottom: 4rem;
    font-style: italic;
}

.head-text > .accent-text {
    font-weight: 400;
    font-size: 1.15rem;
    line-height: 2.2rem;
    margin-top: 0;
    text-align: left;

    letter-spacing: 2px;
}

.right-menu-nav-items {
        padding-top: 0.5rem;
}

body {
    overflow-x: hidden;
}

.column-1.side-menu > .right-menu-logo {
    padding-bottom: 162px;
}

div.column-2.main-content::-webkit-scrollbar {
    width: 10px;
	background-color: #F5F5F5;
}

div.column-2.main-content::-webkit-scrollbar-thumb {

    border-radius: 10px;
    background: #AAAAAA -webkit-linear-gradient(90deg,
    rgba(0, 0, 0, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, .2) 50%,
    rgba(0, 0, 0, .2) 75%,
    transparent 75%,
    transparent);
}


