html, body {
    font-family: "Open Sans", sans-serif;
}

h1.name {
    font-style: italic;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.mainText, .accentText {
    text-align: center;
    font-weight: 800;
    color: grey;
    text-shadow: 2px 2px #f2f2f2;
    font-style: italic;
    font-size: 15px;
}

.displayText {
    padding-bottom: 1.5rem;
}

.mini-bio {
    background-color: #F2F2F2;
    padding: 1rem 1rem 1rem 1rem;
}

.bio-text {
    text-align: center;
    font-size: 13px;
    line-height: 1.6rem;
    font-weight: 500;
    margin-bottom: 0px;
}

.btn {
    margin-left: 10%;
    margin-top: 2rem;
    background-color: #f2f2f2;
    color: black;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 12px 15px 12px 15px;
    width: 80%;
}

.btn:focus {
    outline: none;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.profilePicture {
    margin-left: 10%;
    margin-top: 3rem;
    width: 80%;
    border: none;
}

div.buttons, div.profileImage {
    width: 100%;
}

.latestPost {
    background-color: #F2F2F2;
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 1rem 1rem 1rem 1rem;
}

.latestPost > h2 {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
}

a.list-group-item {
    background-color: #f2f2f2;
    border: none;
    outline: none;
}

a.list-group-item:focus {
    background-color: #F2F2F2;
}

.list-group {
    margin-top: 2rem;
}

small.readMore {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

div.d-flex {
    padding-bottom: 0.5rem;
}

h5.mb-1 {
    font-size: 20px;
    font-weight: 800;
}

.datePosted {
    font-size: 12px;
    font-weight: 600;
}

p.mb-1 {
    font-size: 15px;
    text-align: left;
    line-height: 25px;
}