.portfolio {
    padding-left: 2rem;
    padding-top: 4rem;
}

.portfolioCoverImage {
    max-width: 450px;
    max-height: 253px;
}

.individualProject {
    float: left;
    padding-right: 2rem;
    justify-content: center;
}

body {
    font-family: 'Segoe UI';
}

h1 {
    font-style: italic;
    text-align: left;
    font-size: 39px;
    font-weight: 700;
    padding-bottom: 4rem;
}

.title > p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 13px;
    text-transform: capitalize;
}

p, p:hover, p:active, p:before, p:after, p:visited, p:focus {
    text-decoration: none;
    text-underline: none;
    color: black;
    cursor: pointer;
}

.column-3.optional-right-menu {
    display: flex;
    justify-content: center;
}

.testimonialButton {
     padding-top: 0rem;
     padding-right: 1.2rem;
     float: right;
}

.testimonial-icon {
    width: 100px;
    height: 70px;
}

.column-2.main-content {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 2rem;
    margin-left: 3rem;
}

div.column-2.main-content::-webkit-scrollbar {
    width: 10px;
	background-color: #F5F5F5;
}

div.column-2.main-content::-webkit-scrollbar-thumb {

    border-radius: 10px;
    background: #AAAAAA -webkit-linear-gradient(90deg,
    rgba(0, 0, 0, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, .2) 50%,
    rgba(0, 0, 0, .2) 75%,
    transparent 75%,
    transparent);
}


.parentContainer {
    display: grid;
    grid-template-areas:
        'menu main main main main main'
        'menu main main main main main'
        'menu main main main main main';
    height: 100%;
}

.column-3.optional-right-menu {
    grid-area: main;
}

.portfolioCoverImage {
    transition: transition .5s;
}

.portfolioCoverImage:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

@media (max-width: 1750px) {
    .portfolioCoverImage {
        max-width: 420px;
    }
}
