@font-face {
    font-family: "Segoe UI";
}

.column-2.main-content {
    display: flex;
    grid-template-rows: none;
    text-align: left;
    font-size: 1.3rem;
    font-family: "Segoe UI";
    word-break: break-all;
    overflow-y: auto;


}

.head-text {
    max-width: 50rem;
    padding-left: 5rem;
    padding-right: 5rem;
    max-height: 70rem;
    margin: auto;
    margin-top: 5rem;
}

.head-text > .large-text {
    margin-bottom: 0;
    padding-bottom: 4rem;
    font-style: italic;
}

.head-text > .accent-text {
    font-weight: 400;
    font-size: 1.15rem;
    line-height: 2.2rem;
    margin-top: 0;
    text-align: left;
    letter-spacing: 2px;
}

.right-menu-nav-items {
        padding-top: 0.5rem;
}

body {
    overflow-x: hidden;
}

.column-1.side-menu > .right-menu-logo {
    padding-bottom: 162px;
}

.column-3.optional-right-menu {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.each-language {
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}

.column-3.optional-right-menu::-webkit-scrollbar {
    width: 3px;
	background-color: #F5F5F5;
}

.column-3.optional-right-menu::-webkit-scrollbar-thumb {

    border-radius: 10px;
    background: #AAAAAA -webkit-linear-gradient(90deg,
    rgba(0, 0, 0, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, .2) 50%,
    rgba(0, 0, 0, .2) 75%,
    transparent 75%,
    transparent);
}

p.skillTitle {
    margin: 0;
    text-align: center;
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 600;
    font-size: 1rem;
}

.skillImage {
    max-width: 60px;
    padding-left: 5px;
}

.column-2.main-content::-webkit-scrollbar {
    width: 3px;
	background-color: #F5F5F5;
}

.column-2.main-content::-webkit-scrollbar-thumb {

    border-radius: 10px;
    background: #AAAAAA -webkit-linear-gradient(90deg,
    rgba(0, 0, 0, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, .2) 50%,
    rgba(0, 0, 0, .2) 75%,
    transparent 75%,
    transparent);
}


