{% extends 'portfolioApp/mobileVersion/base_mobile.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'portfolioApp/css/about_me_mobile.css' %}">
{% endblock header %}
{% block title %} About Me {% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="headText">
        <h1>About Me</h1>
        <p>Get to Know me, who am I, what do I do?</p>
    </div>
    <div class="bodyText">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Dignissim suspendisse in est ante in nibh mauris cursus
            mattis. Adipiscing bibendum est ultricies integer quis auctor. Diam quam nulla porttitor massa id
            neque aliquam vestibulum. Consequat interdum varius sit amet mattis vulputate enim nulla aliquet.
            Rhoncus mattis rhoncus urna neque viverra justo nec. Purus non enim praesent elementum facilisis leo
            vel fringilla est. Pharetra convallis posuere morbi leo. Non tellus orci ac auctor augue mauris.
            Sit amet commodo nulla facilisi nullam vehicula ipsum.
        </p>
    </div>
    <div class="footerButtons">
        <a href="{% url 'mobilePortfolioApp:mobileWorkExperience' %}" class="btn">View my Work-Experience</a>
        <a href="{% url 'mobilePortfolioApp:mobileQualifications' %}" class="btn">View my Qualifications</a>
    </div>
</div>
{% endblock body %}