{% extends 'portfolioApp/mobileVersion/base_mobile.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'portfolioApp/css/work_experience_page_mobile.css' %}">
{% endblock header %}

{% block title %} Work-Experiences {% endblock title %}

{% block body %}
<div class="container-fluid">
        <div class="headText">
            <h1>Work-Experience</h1>
        </div>
        {% for e in experience %}
    <div class="experiences">
            <div class="subHeaderText">
                <h4>{{ e.companyName }}</h4>
                <p>Start Date: {{ e.startDate|date:"d/m/Y" }}</p>
                {% if e.endDate == None %}
                        <p class="current">{{ e.ifCurrentJob }}</p><br>
                    {% else %}
                        <p class="date">End Date: {{ e.endDate|date:"d/m/Y" }}</p><br>
                    {% endif %}
                <p id="position">Position: {{ e.position }}</p>
            </div>
        <div class="bodyText">
            {{ e.Description }}
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock body %}